7) Study Assistant for Quiz Question Generation/venv/ 
9) Conversational AI/venv/
15) Financial Portfolio Manager/.cache/
18) Personalized Education Assistant/venv/
19) Automated code debugging Assistant/venv/